.responsive {
    max-width: 100%;
    height: auto;
  }
  .slider {
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
}

.slides {
    display: flex;
    width: 500%;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 20%;
    display: block;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.manual-btn {
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: #ddd;
}

#radio1:checked ~ .first {
    transform: translateX(0);
}

#radio2:checked ~ .first {
    transform: translateX(-20%);
}

#radio3:checked ~ .first {
    transform: translateX(-40%);
}

#radio4:checked ~ .first {
    transform: translateX(-60%);
}

.radio-btn {
    display: none;
}